<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.AutoSys.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.AutoSys.domain.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="createdAt" column="created_at" />
        <result property="updateAt" column="updated_at" />
    </resultMap>

    <select id="findAll" resultMap="UserResultMap">
        SELECT * FROM user
    </select>

    <select id="findById" parameterType="long" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.AutoSys.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, email, password)
        VALUES (#{username}, #{email}, #{password})
    </insert>

    <update id="update" parameterType="com.example.AutoSys.domain.User">
        UPDATE user
        SET
        username = #{username},
        email = #{email},
        password = #{password}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>
